[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/hwx0000/imgui.git
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Hazel/vendor/yaml-cpp"]
	path = Hazel/vendor/yaml-cpp
	url = https://github.com/hwx0000/yaml-cpp.git
[submodule "Hazel/vendor/imguizmo"]
	path = Hazel/vendor/imguizmo
	url = https://github.com/hwx0000/ImGuizmo.git
[submodule "box2d"]
	path = Hazel/vendor/box2d
	url = https://github.com/hwx0000/box2d
